
@media only screen and (max-width: 650px){
    #home .carousel img{
        object-fit: cover;
        height: 500px;
    }
  
}
@media only screen and (max-width: 500px){
    #home .carousel img{
        object-fit: cover;
        height: 400px;
    }
    #home #home-text{
        position: absolute;
        z-index: 5;
        width: 80%;
        left: 10%;
        top: 30%;
    }
    #home .carousel-inner .item, .active{
        transition: 1s ease-in-out;
    }
}
@media only screen and (max-width: 350px){
    #home .carousel img{
        object-fit: cover;
        height: 350px;
    }
}
@media only screen and (max-width: 300px){
    #about #card{
        height: 300px;
    }
    #about #card img{
        width: 200px;
        height: 90px;
    }
    
}
