*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    font-family: 'ADOBE CASLON PRO';
    text-decoration: none;
    transition: .4s;
}
#navbar{
    width: 100%;
    position: absolute;
    z-index: 11;
}
#navbar a{
    position: absolute;
    right: 10%;
    font-size: 23px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#navbar a:hover{
    color: rgb(251, 109, 20);
}
#home{
    height: 100%;
    width: 100%;
}
#home .carousel img{
    object-fit: cover;
    height: 600px;
}
#home #home-text{
    position: absolute;
    z-index: 5;
    width: 70%;
    left: 15%;
    top: 30%;
}
/* about */
#about{
    color: white;
    background: rgb(32, 29, 29);
}
#about h2{
    letter-spacing: 3px;
}
#about video{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
}
#about img{
    height: 400px;
}
#about .card{
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
}
#about #card{
    height: 400px;
    width: 100%;
    background: url(../images/shutterstock_1400180222.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#about #card img{
    width: 250px;
    height: 120px;
}
/* last */
#last{
    border-top: 2px solid white;
}
/* contact form */
#contact-form{
    position: fixed;
    height: 100dvh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 1111;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0,0);
}
#contact-form iframe{
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 4px grey;
}
